.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .blue-text {
    color: #2563eb;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    cursor: pointer;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .sign-in {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .get-started {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
   /* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height:30px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .blue-text {
    color: #2563eb;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    cursor: pointer;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .sign-in {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .get-started {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
  }
   */